html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ----- font start -----  */
@font-face {
    font-family: 'inter';
    src: url(../fonts/InterLight.woff2) format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterMedium.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterRegular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterSemiBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* ----- variable start -----  */
:root {
    --color-white: #fff;
    --color-grey: #838383;
    --color-dark: #1d1d1f;
}

/* ----- variable start -----  */

body {
    font-family: 'inter', sans-serif;
}

/* ----- variable end -----  */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* ----- header start -----  */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 39px 0;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.bg__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-white);

}

.header__right {
    display: flex;
    align-items: center;
}

.btn__search {
    width: 24px;
    height: 24px;
    margin-right: 35px;
}

.btn__search svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.header__nav {}

.nav {}

.nav__list {
    display: flex;
    align-items: center;
}

.list__reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: 35px;
}

.nav__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
}

/* ----- header end -----  */


/* ----- hero start -----  */
.hero {
    padding-top: calc(120px + 150px);
    height: 100vh;
    min-height: 700px;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    max-width: 936px;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 116px;
    color: var(--color-white);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 468px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 50px;

}

.btn--light {}

.btn {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: 15px 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

.about__top {
    padding-top: 190px;
}

.about__col {}

.about__list {}

.about__item:not(:last-child) {
    margin-bottom: 60px;
}

.complited {}

.complited__value {
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    color: var(--color-dark);
}

.complited__descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}

.about__title {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: var(--color-dark);
    margin-bottom: 60px;
}

.about__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}

.about__descr:not(:last-child) {
    margin-bottom: 30px;
}

.about__video {}

.about__play {}

.portfolio {}


.portfolio__list {}

.portfolio-item {}

.portfolio-item__col {}

.portfolio-item__title {}

.portfolio-item__descr {}

.btn--dark {}

.portfolio-item__image {}

.portfolio-item--reverse {}

.quote {}

.quote__title {}

.quote__content {}

.quote__text {}

.quote__author {}

.services {}

.services__image {}

.services__list {}

.services-item {}

.services-item__col {}

.services-item__title {}

.services-item__descr {}

.footer {}

.footer__col {}

.footer__address {}

.footer__social {}

.social {}

.social__item {}

.social__link {}

.footer__title {}

.footer__form {}

.footer__imput {}

.footer__btn {}