html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ----- font start -----  */
@font-face {
    font-family: 'inter';
    src: url(../fonts/InterLight.woff2) format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterMedium.woff2) format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterRegular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterSemiBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(../fonts/InterBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* ----- variable start -----  */
:root {
    --color-white: #fff;
    --color-grey: #838383;
    --color-dark: #1d1d1f;
}

/* ----- variable start -----  */

body {
    font-family: 'inter', sans-serif;
}

/* ----- variable end -----  */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* ----- header start -----  */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 39px 0;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.bg__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-white);

}

.header__right {
    display: flex;
    align-items: center;
}

.btn__search {
    width: 24px;
    height: 24px;
    margin-right: 35px;
}

.btn__search svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.header__nav {}

.nav {}

.nav__list {
    display: flex;
    align-items: center;
}

.list__reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__item:not(:last-child) {
    margin-right: 35px;
}

.nav__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
}

/* ----- header end -----  */


/* ----- hero start -----  */

.hero {
    padding-top: calc(120px + 150px);
    height: 100vh;
    min-height: 700px;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    max-width: 936px;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 116px;
    color: var(--color-white);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 468px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-white);
    margin-bottom: 50px;

}


/* ----- hero end -----  */

/* -------------------  */

.btn--light {
    color: var(--color-dark);
    background-color: var(--color-white);
}

.btn {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: 15px 50px;
}

.btn--dark {
    color: var(--color-white);
    background-color: var(--color-dark);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

/* -------------------  */


/* ----- about start -----  */


.about__top {
    padding-top: 190px;
    margin-bottom: 190px;
}

.about__item:not(:last-child) {
    margin-bottom: 60px;
}

.complited {}

.complited__value {
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    color: var(--color-dark);
}

.complited__descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}

.about__title {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: var(--color-dark);
    margin-bottom: 60px;
}

.about__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}

.about__descr:not(:last-child) {
    margin-bottom: 30px;
}

.about__video {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.about__video video {
    display: block;
    width: 100%;
    height: 100%;
    height: 630px;
    object-fit: cover;
    margin-bottom: 190px;
}

.about__play {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__play svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__play-hiden {
    display: none;
}

/* ----- about end -----  */

/* ----- portfolio start -----  */


.portfolio {}

.portfolio__list {}

.portfolio-item:not(:last-child) {
    margin-bottom: 120px;
}

.portfolio-item__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.portfolio-item__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-dark);
    margin-bottom: 20px;
}

.portfolio-item__descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 60px;
}

.portfolio-item__image {}

.portfolio-item--reverse {
    margin-bottom: 190px;
    /* align-items: center; */

}

.portfolio-item--reverse .portfolio-item__col:first-child {
    order: 2;
}

.portfolio-item--reverse .portfolio-item__col:last-child {
    order: 1;
}

.quote {
    margin-bottom: 190px;

}

.quote__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 50px;

}

.quote__content {}

.quote__text {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-dark);
    width: 830px;
    margin-bottom: 30px;
}

.quote__author {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-dark);
}

.quote__author span {
    color: var(--color-grey);
}

.services {
    margin-bottom: 190px;
}

.services__image {
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-bottom: 190px;
}

.services__list {}

.services-item {
    border-top: 1px solid rgba(29, 29, 31, 0.4);
    padding: 40px 0;
}

.services-item__col {}

.services-item__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-dark);
}

.services-item__descr {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}

.footer {
    background-color: var(--color-dark);
    padding-top: 90px;
    padding-bottom: 150px;

}

.footer__col {}
.foote__logo {
    display: inline-block;
    margin-bottom: 48px;
}
.footer__address {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 30px;
}

.footer__social {
    display: flex;
    align-items: center;
}

.social {
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.social__link {
    display: block;
    width: 40px;
    height: 40px;
}
.social__link svg {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.footer__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-white);
    margin-bottom: 10px;
}

.footer__form {
    width: 100%;
    position: relative;
}

.footer__imput {
    width: 100%;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: transparent;
    padding: 24px 0;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    padding-right: 30px;
}

.footer__input::placeholder {
    color: var(--color-grey);
}

.footer__btn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 24px;
}

.footer__btn svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}